<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.todolist.mapper.TagMapper">

    <resultMap type="Tag" id="TagResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="color" column="color"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <sql id="selectTagVo">
        select id, title, color, created_time
        from sys_tag
    </sql>

    <select id="selectTagList" parameterType="Tag" resultMap="TagResult">
        <include refid="selectTagVo"/>
        <where>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="color != null  and color != ''">and color = #{color}</if>
            <if test="createdTime != null ">and created_time = #{createdTime}</if>
        </where>
    </select>

    <select id="selectTagById" parameterType="Long" resultMap="TagResult">
        <include refid="selectTagVo"/>
        where id = #{id}
    </select>

    <insert id="insertTag" parameterType="Tag" useGeneratedKeys="true" keyProperty="id">
        insert into sys_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="color != null">color,</if>
            <if test="createdTime != null">created_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="color != null">#{color},</if>
            <if test="createdTime != null">#{createdTime},</if>
        </trim>
    </insert>

    <update id="updateTag" parameterType="Tag">
        update sys_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="color != null">color = #{color},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTagById" parameterType="Long">
        delete
        from sys_tag
        where id = #{id}
    </delete>

    <delete id="deleteTagByIds" parameterType="String">
        delete from sys_tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>